.sidebar__footer {
  margin-bottom: 7px;
}

.sidebar__logo {
  margin: 20px 14px 10px;
  font-size: 14px;
}

.sidebar__scope {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  justify-content: center;
  font-size: 13px;
  padding: 7px;
  margin: 14px;
  margin-bottom: 14px;
  cursor: pointer;
  background: white;
  box-shadow: 0 7px 14px 0 rgb(0 0 0 / 6%), 0 3px 6px 0 rgb(0 0 0 / 6%);
  border: 1px solid rgb(222, 226, 228);
  border-radius: 4px;

  button {
    display: flex;
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  li {
    margin-top: 10px;
  }

  .sidebar__link-icon {
    transform: rotate(0deg);
    transition: transform 250ms;
  }

  &:hover {
    box-shadow: 0 2px 2px #ddd;

    .sidebar__link-icon {
      transform: rotate(90deg);
    }
  }

  .sidebar__link-icon {
    margin: 0;
    margin-right: 5px;
    display: flex;
  }
}

.sidebar__link {
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 7px 14px;
  font-size: 13px;

  &:hover {
    background: #e8e8e9;
  }
}
